.price
{
    font-size: 2rem;
    position: absolute;
    bottom: 10px;
}

.add-button
{
  position: absolute;
  bottom: 20px;
  right: 30px;
}

.total
{
  position: absolute;
  right: 0px;
  font-size: 2rem;
}